@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* add custom fonts */
@theme {
  --font-mono: "Berkeley Mono", ui-monospace, monospace;
  --font-sans: "Inter Variable", "Inter", sans-serif;
  --font-sans--font-feature-settings: "liga", "calt";
}

/* enable dark mode switching with css selector */
@custom-variant dark (&:where(.dark, .dark *));

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* re-enables pointer cursor for buttons (why tf was this changed??) */
button,
[role="button"] {
  cursor: pointer;
}

@layer base {
  @font-face {
    font-family: "Berkeley Mono";
    font-display: swap;
    src:
      url("/fonts/BerkeleyMono-Regular.woff2") format("woff2"),
      url("/fonts/BerkeleyMono-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Berkeley Mono";
    font-style: italic;
    font-display: swap;
    src:
      url("/fonts/BerkeleyMono-Italic.woff2") format("woff2"),
      url("/fonts/BerkeleyMono-Italic.woff") format("woff");
  }

  @font-face {
    font-family: "Berkeley Mono";
    font-weight: bold;
    font-display: swap;
    src:
      url("/fonts/BerkeleyMono-Bold.woff2") format("woff2"),
      url("/fonts/BerkeleyMono-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "Berkeley Mono";
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    src:
      url("/fonts/BerkeleyMono-BoldItalic.woff2") format("woff2"),
      url("/fonts/BerkeleyMono-BoldItalic.woff") format("woff");
  }
}
