@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* add custom fonts */
@theme {
  --font-mono: "Monaspace Neon", ui-monospace, monospace;
  --font-mono--font-feature-settings: "liga", "calt", "ss01", "ss02";
  --font-sans: "Inter Variable", sans-serif;
  --font-sans--font-feature-settings: "liga", "calt";
}

/* enable dark mode switching with css selector */
@custom-variant dark (&:where(.dark, .dark *));

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* re-enables pointer cursor for buttons (why tf was this changed??) */
button,
[role="button"] {
  cursor: pointer;
}

/* v3.0.1 */
@font-face {
  font-family: "Monaspace Neon";
  font-display: swap;
  src:
    url("/fonts/Monaspace Neon Var.woff2") format("woff2"),
    url("/fonts/Monaspace Neon Var.woff") format("woff");
}
