---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TagButton from "../../components/TagButton.astro";
import BlogGrid from "../../components/BlogGrid.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag: string) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <div class="px-2 pt-1">
    <div class="flex flex-wrap items-baseline pb-2 pl-2 font-display">
      <p class="pr-2">All posts tagged with</p>
      <TagButton tag={tag} />
    </div>

    <BlogGrid posts={posts} />
  </div>
</BaseLayout>
