---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TagButton from "../../components/Tag.astro";
import BlogGrid from "../../components/BlogGrid.astro";
import { getCollection } from "astro:content";
import Sidebar from "../../components/Sidebar.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag: string) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <!-- <Sidebar>
    <p class="text-center">posts tagged with</p>
    <div class="mx-2">
      <TagButton tag={tag} />
    </div>
  </Sidebar> -->
  <div class="ml-60">
    <BlogGrid posts={posts} />
  </div>
</BaseLayout>
