---
import { getCollection } from "astro:content";
import Tag from "../../components/Tag.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import H from "../../components/H.astro";
import ScrollableContent from "../../components/ScrollableContent.astro";

const tags = await getCollection("tags");
---

<BaseLayout pageTitle="tag index" }>
  <ScrollableContent>
    <H>tags</H>
    <table class="mt-1 flex flex-col gap-1">
      {
        tags
          .sort((a, b) => a.id.localeCompare(b.id))
          .map((tag) => (
            <tr>
              <td class="border p-1">
                <Tag tag={tag.id} />{" "}
              </td>
              <td class="w-full border p-1">{tag.data.description}</td>
            </tr>
          ))
      }
    </table>
  </ScrollableContent>
</BaseLayout>
