---
const options = ["programmer", "photographer", "student", "musician", "gamer"];
---

<span id="typer" data-options={options}>{options[0]}</span><span id="cursor"
  >⎸</span
>

<script>
  function sleep(ms: number) {
    return new Promise((resolve) => setTimeout(resolve, ms));
  }

  const CHAR_DELAY = 40;
  const WORD_DELAY = 2300;

  const typer = document.getElementById("typer")!;
  const cursor = document.getElementById("cursor")!;

  const options = typer.dataset.options!.split(",");
  let index = 0;

  let animate = async (s: number) => {
    // start blinking the cursor
    let handle = setInterval(() => {
      cursor.style.visibility =
        cursor.style.visibility === "hidden" ? "visible" : "hidden";
    }, 500);

    // wait the specified time
    await sleep(s);

    // stop blinking the cursor
    clearInterval(handle);
    cursor.style.visibility = "visible";

    const word = options[index]!;
    const nextIndex = (index + 1) % options.length;
    const nextWord = options[nextIndex]!;

    // delete current word
    for (let i = word.length; i >= 0; --i) {
      typer.innerText = word.substring(0, i);
      await sleep(CHAR_DELAY);
    }

    // type in next word
    for (let i = 0; i <= nextWord.length; ++i) {
      typer.innerText = nextWord.substring(0, i);
      await sleep(CHAR_DELAY);
    }

    index = nextIndex;
    animate(WORD_DELAY);
  };

  animate(3000);
</script>
