---
import Social from "../components/Social.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="about me">
  <div class="m-5 font-sans sm:m-10">
    <div class="mx-auto max-w-prose">
      <div class="text-pretty font-mono">
        <h1 class="text-5xl font-bold">about me</h1>
        <p>
          I'm a student from Las Vegas, Nevada who's been interested in
          computers and technology all my life, as well as music, camping,
          soccer, and games.
          <br />
          I am currently attending OSU (the one in Oregon, not Ohio) getting a degree
          in Electrical and Computer Engineering.
          <br />
          In my free time I like to listen to music (Radiohead fanboy), play guitar,
          watch movies (go see Baby Driver), and play video games.
        </p>

        <h1 class="mt-8 text-5xl font-bold">platforms</h1>
        <div class="mt-2 flex flex-wrap gap-2">
          <Social name="github" link="github.com/BEnh3N" icon="󰊤" />
          <Social name="twitter" link="x.com/BEnh3N" icon="󰕄" />
          <Social name="youtube" link="youtube.com/@BEnh3N" icon="󰗃" />
          <Social
            name="linkedin"
            link="linkedin.com/in/bennett-pohlmann/"
            icon="󰌻"
          />
          <Social name="instagram" link="instagram.com/toaster6161/" icon="󰋾" />
        </div>

        <h1 class="mt-8 text-5xl font-bold">projects</h1>
        <p>to be filled in...</p>

        <h1 class="mt-8 text-5xl font-bold">this site</h1>
        <p>
          This site is mainly to be used as a personal portfolio and a place to
          <a href="/blog" class="underline">write about my experiences</a> with life
          and technology.
          <br />
          Big inspiration for this site came from <a
            href="https://basicappleguy.com"
            class="underline">Basic Apple Guy</a
          >, <a href="https://jamesbvaughan.com" class="underline"
            >James Vaughan</a
          >, and <a href="https://cobalt.tools" class="underline">cobalt</a>.
          The typing effect on the home screen was ripped directly from <a
            href="https://bun.sh"
            class="underline">Bun's homepage</a
          >.
          <br />
          I plan on writing a blog post further down the line detailing more about
          the technology behind this site.
        </p>
      </div>
    </div>
  </div>
</BaseLayout>
