---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p class="font-display text-5xl font-bold">Blog</p>
  <p>This is where I will post about my journey learning Astro.</p>
  <div class="flex flex-wrap justify-center gap-2 m-2">
    {allPosts.map((post) => <BlogPost post={post} />)}
  </div>
</BaseLayout>
