---
import { getCollection } from "astro:content";
import Tag from "../components/Tag.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="h-dvh overflow-y-auto p-10">
    <div class="mt-10 grid grid-cols-1 gap-10 md:grid-cols-2">
      {
        allPosts
          .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
          .map((post) => <BlogPost post={post} />)
      }
    </div>
  </div>
</BaseLayout>
