---
import BlogGrid from "../components/BlogGrid.astro";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p class="font-display text-5xl font-bold">Blog</p>
  <p>This is where I will post about my journey learning Astro.</p>
  <BlogGrid posts={allPosts} />
</BaseLayout>
