---
import BlogGrid from "../components/BlogGrid.astro";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="px-2">
    <p class="font-display text-5xl font-bold">Blog</p>
    <p class="font-display italic text-accent-subtext">
      Nobody wants to read this
    </p>
    <BlogGrid posts={allPosts} />
  </div>
</BaseLayout>
