---
import BaseLayout from "../layouts/BaseLayout.astro";
import ASCII from "../components/ASCII.astro";
import Typer from "../components/Typer.astro";
const pageTitle = "bennett pohlmann";
---

<BaseLayout pageTitle={pageTitle}>
  <div
    class="flex h-full flex-col items-center justify-center gap-10 md:flex-row md:gap-20"
  >
    <!-- ASCII Art -->
    <ASCII />

    <!-- Intro -->
    <p>
      hello, my name is<br />
      <span class="text-5xl font-bold">bennett</span>
      <br />i'm a <Typer />
    </p>
  </div>
</BaseLayout>
