---
import BaseLayout from "../layouts/BaseLayout.astro";
import Social from "../components/Social.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <!-- <div class="-mt-16 flex h-dvh pt-16"> -->
  <div
    class="-mt-16 flex h-dvh flex-col justify-center gap-8 pt-16 sm:flex-row"
  >
    <img src="/favicon.svg" class="w-full sm:w-2/5" />
    <div
      class="flex flex-col justify-center gap-2 text-center font-display sm:w-2/5 sm:text-left"
    >
      <p class="text-6xl font-bold lg:text-8xl">BEnh3N</p>
      <p class="text-xl">
        Hello! I'm Bennett, a student, programmer, and enthusiast of many
        things!
      </p>
      <div class="flex justify-center gap-2 pt-2 sm:justify-start">
        <Social platform="twitter" username="BEnh3N" />
        <Social platform="github" username="BEnh3N" />
        <Social platform="youtube" username="@BEnh3N" />
      </div>
    </div>
    <!-- </div> -->
  </div>
</BaseLayout>
