---
import type { Code } from "astro:components";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col justify-center gap-4 pt-8 sm:flex-row">
    <img src="/favicon.svg" class="w-full sm:w-2/5" />
    <div class="flex w-2/5 flex-col justify-center font-display">
      <p class="text-6xl font-bold lg:text-8xl">BEnh3N</p>
      <p class="text-xl">
        Hello! I'm Bennett, a sudent, programmer, and enthusiast of many things!
      </p>
    </div>
  </div>
</BaseLayout>
