---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Portfolio">
  <div class="h-dvh w-screen content-center text-center">
    nothing to see here yet...
  </div>
</BaseLayout>
