---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Portfolio">
  <div class="h-screen w-screen content-center text-center">
    nothing to see here...
  </div>
</BaseLayout>
