---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Portfolio">
  <div class="h-full w-screen content-center text-center">
    <p>nothing to see here...</p>
  </div>
</BaseLayout>
