<div class="basis-1/3 my-auto justify-end flex"><p class="whitespace-pre font-display text-xl">‎                     ___________
                   /\           \
                  /..\           \
                 /....\           \
     __________ /......\ __________\
   /\           \....../////////////
  /..\           \..../////////////
 /....\           \../////////////
/......\ __________\/////////////
\....../////////////\           \
 \..../////////////..\           \
  \../////////////....\           \
   \/////////////......\ __________\
                \....../////////////
                 \..../////////////
                  \../////////////
                   \/////////////</p></div>