<p class="whitespace-pre">‎                      ___________
                    /\            \
                   /..\            \
                  /....\            \
     ___________ /......\ ___________\
   /\            \......//////////////
  /..\            \....//////////////
 /....\            \..//////////////
/......\ ___________\//////////////
\......//////////////\            \
 \....//////////////..\            \
  \..//////////////....\            \
   \//////////////......\ ___________\
                 \......//////////////
                  \....//////////////
                   \..//////////////
                    \//////////////
‎</p>