<p class="whitespace-pre md:text-xl">‎                     ___________
                   /\           \
                  /..\           \
                 /....\           \
     __________ /......\ __________\
   /\           \....../////////////
  /..\           \..../////////////
 /....\           \../////////////
/......\ __________\/////////////
\....../////////////\           \
 \..../////////////..\           \
  \../////////////....\           \
   \/////////////......\ __________\
                \....../////////////
                 \..../////////////
                  \../////////////
                   \/////////////</p>