---
import BlogPost from "./BlogPost.astro";

const { posts } = Astro.props;
---

<div
  class="grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
>
  {posts.map((post: any) => <BlogPost post={post} />)}
</div>
