---
const { post } = Astro.props;
const frontmatter = post.frontmatter;
---

<div
  class="w-full rounded-md bg-accent-button p-2 font-display shadow-border transition-colors hover:bg-accent-button-elevated active:scale-95"
>
  <a href={post.url}>
    <div class="mb-2 aspect-video">
      <img
        src={frontmatter.image.url}
        alt={frontmatter.image.alt}
        class="h-full rounded-md object-cover"
      />
    </div>
    <p class="text-lg">{frontmatter.title}</p>
    <p class="text-accent-subtext">{frontmatter.pubDate.slice(0, 10)}</p>
  </a>
</div>
