---
import Social from "./Social.astro";
---

<div class="flex flex-wrap gap-4 mt-6 justify-center">
    <Social platform="twitter" username="BEnh3N" />
    <Social platform="github" username="BEnh3N" />
    <Social platform="youtube" username="@BEnh3N" />
</div>
