---
import Greeting from "./Greeting";
import ThemeToggle from "./ThemeToggle.astro";
---

<header
  class="fixed top-0 z-50 flex h-10 w-full items-center bg-white/75 backdrop-blur dark:bg-black/75"
>
  <div class="mx-4 flex gap-4 underline">
    <a href="/">home</a>
    <a href="/blog">blog</a>
    <a href="/portfolio">portfolio</a>
  </div>

  <div class="hidden lg:inline">
    <Greeting
      transition:persist
      transition:persist-props
      client:only="preact"
      messages={[
        "experience the greatest website to ever exist",
        "web dev is way too hard",
        "help",
        '"if you wait until the last minute, it only takes a minute to do"',
        "according to all known laws of aviation...",
        "you got games on your phone?",
        "you can't just say perchance",
      ]}
    />
  </div>
  <div class="flex-grow"></div>
  <ThemeToggle />
  <a
    href="https://github.com/BEnh3N/personal-site"
    class="mx-2 border border-black bg-red-400 px-1 dark:border-white dark:bg-red-800"
    target="_blank"
    rel="noopener noreferrer"
  >
    v3.1.2
  </a>
</header>
