---
import Greeting from "./Greeting";
import Link from "./Link.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header
  class="transition:persist fixed top-0 z-50 flex h-10 w-full items-center bg-white/75 backdrop-blur dark:bg-black/75"
>
  <div class="mx-4 flex gap-4">
    <Link url="/">home</Link>
    <Link url="/about">about</Link>
    <Link url="/blog">blog</Link>
  </div>

  <div class="hidden lg:inline">
    <Greeting
      transition:persist
      transition:persist-props
      client:only="preact"
      messages={[
        "experience the greatest website to ever exist",
        "web dev is way too hard",
        "help",
        '"if you wait until the last minute, it only takes a minute to do"',
        "according to all known laws of aviation...",
        "you got games on your phone?",
        "you can't just say perchance",
        "ai can't take my job because I don't have one",
        "how strange it is to be anything at all...",
      ]}
    />
  </div>
  <div class="grow"></div>
  <ThemeToggle />
  <a
    href="https://github.com/BEnh3N/personal-site"
    class="mx-2 border border-black bg-red-400 px-1 hover:-translate-x-px hover:translate-y-px dark:border-white dark:bg-red-800"
    target="_blank"
    rel="noopener noreferrer"
  >
    v4.1.0</a
  >
</header>
