---
import Greeting from "./Greeting";
---

<div
  class="relative flex p-1 items-center justify-between bg-accent-button shadow-header rounded-lg m-2"
>
  <!-- Home Icon -->
  <div class="block mx-2 justify-self-start">
    <a aria-label="Home" href="/">
      <img
        src="/favicon.svg"
        alt="Home Icon"
        class="h-10 hover:rotate-6 hover:scale-110 transition-transform"
      />
    </a>
  </div>

  <div class="flex absolute inset-x-8 justify-center invisible lg:visible">
    <Greeting
      client:load
      messages={[
        "experience the greatest website to ever exist",
        "web dev is way too hard",
        "help",
        '"if you wait until the last minute, it only takes a minute to do"',
      ]}
    />
  </div>

  <!-- Nav Links -->
  <div class="font-display flex text-lg">
    <a
      href="/about"
      class="bg-accent-button hover:bg-accent-hover font-display hover:shadow-border rounded-md px-4 py-2 active:scale-95"
      >about</a
    >
    <a
      href="/blog"
      class="bg-accent-button hover:bg-accent-hover font-display hover:shadow-border rounded-md px-4 py-2 active:scale-95"
      >blog</a
    >
    <a
      href="/tags"
      class="bg-accent-button hover:bg-accent-hover font-display hover:shadow-border rounded-md px-4 py-2 active:scale-95"
      >tags</a
    >
  </div>
</div>
