---
import Greeting from "./Greeting";
import ThemeToggle from "./ThemeToggle.astro";
---

<header
  class="fixed top-0 z-50 flex h-10 w-screen border-b border-dashed border-gray-500 bg-white dark:bg-black"
>
  <div class="mx-4 my-auto flex h-min gap-4 underline">
    <a href="/">home</a>
    <a href="/blog">blog</a>
    <a href="/portfolio">portfolio</a>
  </div>

  <div class="mx-4 my-auto h-min flex-shrink">
    <Greeting
      transition:persist
      client:load
      messages={[
        "experience the greatest website to ever exist",
        "web dev is way too hard",
        "help",
        '"if you wait until the last minute, it only takes a minute to do"',
        "according to all known laws of aviation...",
        "you got games on your phone?",
        "you can't just say perchance",
      ]}
    />
  </div>
  <ThemeToggle />
  <div
    class="mx-1 my-auto h-min border border-black bg-red-400 px-1 dark:border-white dark:bg-red-800"
  >
    v2.0.1
  </div>
</header>
