---
import Greeting from "./Greeting";
---

<header class="sticky top-0 p-1">
  <div
    class="z-50 flex h-12 items-center justify-between rounded-md bg-glass shadow-header backdrop-blur"
  >
    <!-- Home Icon -->
    <a aria-label="Home" href="/" class="shrink-0 pl-1.5">
      <img
        src="/favicon.svg"
        alt="Home Icon"
        class="h-10 transition-transform hover:-rotate-6 hover:scale-110"
      />
    </a>

    <!-- Center greeting -->
    <div class="hidden lg:block">
      <Greeting
        transition:persist
        client:load
        messages={[
          "experience the greatest website to ever exist",
          "web dev is way too hard",
          "help",
          '"if you wait until the last minute, it only takes a minute to do"',
        ]}
      />
    </div>

    <!-- Nav Links -->
    <div class="mr-0.5 flex shrink-0 font-display text-lg">
      <!-- <a
        href="/about"
        class="rounded-md px-5 py-2 font-display hover:bg-accent-hover-transparent hover:shadow-border"
        >about</a
      > -->
      <a
        href="/blog"
        class="rounded-md px-5 py-2 font-display hover:bg-accent-hover-transparent hover:shadow-border"
        >blog</a
      >
      <a
        href="/portfolio"
        class="rounded-md px-5 py-2 font-display hover:bg-accent-hover-transparent hover:shadow-border"
        >portfolio</a
      >
    </div>
  </div>
</header>
