---
import Greeting from "./Greeting";
---

<header class="sticky top-0 p-2">
  <div
    class="z-50 flex h-12 items-center justify-between rounded-lg bg-glass px-0.5 shadow-header backdrop-blur"
  >
    <!-- Home Icon -->
    <div class="mx-2 justify-self-start">
      <a aria-label="Home" href="/">
        <img
          src="/favicon.svg"
          alt="Home Icon"
          class="h-10 min-h-10 transition-transform hover:rotate-6 hover:scale-110"
        />
      </a>
    </div>

    <div class="hidden lg:flex">
      <Greeting
        client:load
        messages={[
          "experience the greatest website to ever exist",
          "web dev is way too hard",
          "help",
          '"if you wait until the last minute, it only takes a minute to do"',
        ]}
      />
    </div>

    <!-- Nav Links -->
    <div class="flex font-display text-lg">
      <a
        href="/about"
        class="rounded-md px-5 py-2 font-display hover:bg-accent-hover-transparent hover:shadow-border active:scale-95"
        >about</a
      >
      <a
        href="/blog"
        class="rounded-md px-5 py-2 font-display hover:bg-accent-hover-transparent hover:shadow-border active:scale-95"
        >blog</a
      >
      <a
        href="/tags"
        class="rounded-md px-5 py-2 font-display hover:bg-accent-hover-transparent hover:shadow-border active:scale-95"
        >tags</a
      >
    </div>
  </div>
</header>
