---

---
<!-- <div class="nav-links">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <a href="/tags">Tags</a>
</div> -->

<nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid">
        <!-- branding -->
        <a class="navbar-brand" href="/">
            <img src="/favicon.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            BEnh3N
        </a>

        <!-- collapse button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- navbar items -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link" href="/blog">Blog</a>
                <a class="nav-link" href="/tags">Tags</a>
            </div>
        </div>
    </div>
</nav>