---
const { platform, username } = Astro.props;
---

<button class="border border-black p-1 dark:border-white">
  <a
    href={`https://${platform}.com/${username}`}
    aria-label={`${platform} Link`}><slot /></a
  >
</button>
