---
const { name, link, icon } = Astro.props;
---

<a
  class="flex gap-1 border border-black p-1 leading-none dark:border-white"
  href={`https://${link}`}
  aria-label={`${name} link`}
>
  <span class="font-symbols">{icon}</span>{name}</a
>
