---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";

import "../tailwind.css";

import "@fontsource-variable/inter";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{pageTitle}</title>
    <meta name="description" content="Bennett Pohlmann's personal page" />
    <ViewTransitions />
  </head>
  <body class="font-mono dark:bg-black dark:text-white">
    <Header />
    <div class="h-dvh overflow-y-auto pt-10"><slot /></div>
  </body>
</html>
