---
import { ClientRouter } from "astro:transitions";
import Header from "../components/Header.astro";

import "../styles/global.css";

import "@fontsource-variable/inter";

const { pageTitle, description = "Bennett Pohlmann's personal page" } =
  Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="BEnh3N's Blog"
      href={new URL("rss.xml", Astro.site)}
    />
    <link href="https://mastodon.social/@benh3n" rel="me" />

    <title>{pageTitle}</title>
    <meta name="description" content={description} />
    <ClientRouter />
  </head>
  <body class="font-mono dark:bg-black dark:text-white dark:scheme-dark">
    <Header />
    <div class="mt-10 h-[calc(100dvh-var(--spacing)*10)] overflow-y-scroll">
      <slot />
    </div>
  </body>
</html>
