---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.svg?v=2" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{pageTitle}</title>
    <meta
      name="description"
      content="BEnh3N's personal portfolio and maybe even a blog if I
    m feeling adventurous"
    />
    <ViewTransitions />
  </head>
  <body class="font-mono dark:bg-black dark:text-white">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
