---
import BaseLayout from "./BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import BlogPost from "../components/BlogPost.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<BaseLayout pageTitle={post.data.title}>
  <div class="m-5 sm:m-10">
    <div class="mx-auto max-w-prose">
      <BlogPost post={post} canClick={false} />
    </div>
    <div class="mx-auto max-w-prose">
      <div
        class="prose prose-neutral font-sans dark:prose-invert prose-hr:my-10"
      >
        <hr />
        <slot />
      </div>
    </div>
  </div>
</BaseLayout>
